
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(28, 231, 221);
  transition: 0.8s all;
}
h1 {
  text-align: center;
  margin-bottom: 1.5%;
}
.container {
  width: 300px;
}


input {
  padding: 25px;
  color: rgb(87, 87, 87);
  font-size: 1em;
  cursor: pointer;
  width: 70px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  margin-bottom: 3px;
}
input[type="button"] {
  color: black;
    width: 70%;
      font-weight: bold;
}
input[type="text"] {
  background-color: rgb(255, 255, 255);
  width: 90.5%;

}
input[type="button"]:hover {
  background-color: rgb(37, 35, 59);
  color: #fff;

}
#clear {
  color: #fff;
  background-color: rgb(255, 25, 25);
}
button {
  border: solid;
  background-color: rgb(41, 38, 38);
  padding: 8px;
  color: white;
  margin: 2px;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: 600;
}
